#Pattern {
  width: 350px;
  height: 100px;
  background-color: rgb(71, 146, 251);
  background-repeat:repeat-x;
 } 
#Logo {
    width: 250px;
    height: 100px;
    border-right: 660px;
  } 

h1 {
    text-size-adjust: ;
} 
#Marker {background-color: yellow;

 } 

 
 