#Pattern {
  width: 350px;
  height: 100px;
  background-color: rgb(71, 146, 251);
  background-repeat:repeat-x;
 } 
#Logo {
    width: 350px;
  } 

h1 {
    text-size-adjust: ;
} 
#Marker {background-color: yellow;

 } 

 
  { } 
   { } 
    { } 
     { } 
      { } 